{% extends "layout.html" %}




{% block content %}
        
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.task.label }} {{ form.task }}
                {% if form.task.errors %}
                {% for error in form.task.errors %}
                    <br>{{error}}
                {% endfor %}
                {% endif %}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
    {% endblock content %}
